.vscode

# env's
app_env
logic_env
nlu_env

# database folder
logic/src/data/reminders/

# Whisper root directory
stt/whisper.cpp

# rasa root directory
nlu/.rasa

# pyc cache
*.pyc

# temporary audio
shared/audio/temporary/*

# Logs
logs